<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
            <nav class="nav-links">
            {% for label, url in nav_links %}
                <a href="{{ url }}">{{ label }}</a>
            {% endfor %}
        </nav>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/headshot.png">
        </div>
        <h1>Elane Shane</h1>
        <h2>Software Engineering Student @ UCI</h2>
    </div>

    <section class="about-me">
        <h3>About Me</h3>

        <p>
            Hi! I'm Elane, a Software Engineering student at UC Irvine with a
            minor in Informatics. I'm interested in software engineering,
            production engineering, robotics, distributed systems, and full
            stack development.
        </p>

        <p>
            I currently serve as the President for Data@UCI and work
            on robotics projects involving autonomous systems, embedded
            software, and ROS2. I also enjoy building full-stack applications,
            learning new technologies, and exploring how software powers
            real-world systems.
        </p>
    </section>
    <section class="work-experience">
    <h2>Work Experience</h2>
        {% for job in work_experience %}
        <div class="job">
            <div class="header">
                <h3>{{ job.company }}</h3>
                <span class="loc">{{ job.location }}</span>
            </div>
            <div class="subheader">
                <h4>{{ job.role }}</h4>
                <span class="date">{{ job.date }}</span>
            </div>
            <ul>
                {% for bullet in job.description %}
                    <li>{{ bullet }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>

    <section class="education">
    <h2>Education</h2>
    {% for school in education_section %}
    <div class="school">
        <div class="header">
            <h3>{{ school.school }}</h3>
            <span class="loc">{{ school.location }}</span>
        </div>
        <div class="subheader">
            <h4>{{ school.degree }}</h4>
            <span class="date">{{ school.date }}</span>
        </div>
        <p>Relevant Coursework: {{ school.coursework }}</p>
    </div>
    {% endfor %}
</section>
<section class="travel-map">
    <h2>Here is a map of all the places I've visited!</h2>
    <p>
         I've traveled across most of the US but some of the states I haven't visited are Oregon, Florida and Texas.
    </p>
    <div class="map-container">
        {{ map_viz|safe }}
    </div>
</section>
<footer>
    <p>Elane Shane 2026</p>
    <p>* EDIT FOR TESTING REDELOPY WORK FLOW v1</p>
</footer>
</body>
</html>
